*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.row{
  background: white;
  border-radius: 30px;
  box-shadow:12px 12px 22px;
}
.login img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;

}

.login h1{
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Kaisei HarunoUmi', serif;
}

.input{
height: 50px;
width: 70%;
border:none;
outline: none;
border-radius: 60px;
-webkit-box-shadow: -5px 2px 13px 0px rgba(0,0,0,0.64); 
box-shadow: -5px 2px 13px 0px rgba(0,0,0,0.64);
}

.btn1{
  height: 50px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background: rgb(231, 147, 161);
  color: white;
}

.btn1:hover{
  background: rgb(231, 147, 161);
  transition: 0.5s;
}

.fa-facebook{
  font-size: 2.5rem;
  color:rgb(74, 109, 212);
}

.fa-twitter{
  font-size: 2.5rem;
  color:rgb(74, 109, 212);
}